@use "../../../../styles/colors" as *;

:host {
    display: flex;
    flex-flow: column;
    font-size: 16px;
    font-weight: 500;
    padding: 0 16px;
    overflow: hidden;

    & > a {
        padding: 0 16px;
        margin: 0 -16px;
        transition: all 150ms;
        padding-left: 20px;

        display: flex;
        align-items: center;
        height: 60px;
        text-decoration: none;
        color: inherit;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            height: 100vw;
            left: 0;
            top: 0;
            width: 4px;
            background: transparent;
        }

        &.active {
            font-weight: 700;
            color: inherit;
            &:before {
                background: $accentColorLight;
            }
        }

        &:not(.active):hover {
            color: $accentColorLight;
            background: transparent;
            padding-left: 20px;
            cursor: pointer;
        }

        &:focus-visible {
            outline: 1px solid $accentColorLight;
            outline-offset: -1px;
        }

        &:not(.active) + .subitems {
            display: none;
        }
    }

    &.context-active > a {
        font-weight: 700;
        color: inherit;

        &:before {
            background: $accentColorLight;
        }
    }

    &.context-active > a + .subitems {
        display: block;
    }
}

fa-icon {
    font-size: 24px;
    width: 40px;
    margin-right: 5px;
}

.subitems {
    transition: all 150ms;
}
