<button class="default-style toggle-button" (click)="toggle()">
  @if (!menuOpen()) {
    <fa-icon [icon]="menuClosedIcon"></fa-icon>
  }
  @if (menuOpen()) {
    <fa-icon [icon]="menuOpenIcon"></fa-icon>
  }
</button>
<div [class.visible]="menuOpen()" class="hide-nav-bar" (click)="hide()"></div>
<div [class.visible]="menuOpen()" class="wrapper">
  <h1>
    <div>CuteTix</div>
    <div>Admin</div>
  </h1>
  <nav>
    @for (item of availableItems; track item) {
      <app-nav-bar-item [item]="item">
        @for (subItem of item.subItems; track subItem) {
          <app-nav-bar-subitem [name]="subItem.name" [link]="subItem.link" (click)="hide()">
          </app-nav-bar-subitem>
        }
      </app-nav-bar-item>
    }
  </nav>
</div>
