<button
  class="default-style toggle-button"
  type="button"
  aria-controls="admin-navigation"
  [attr.aria-label]="menuOpen() ? 'Close navigation menu' : 'Open navigation menu'"
  [attr.aria-expanded]="menuOpen()"
  (click)="toggle()">
  @if (!menuOpen()) {
    <fa-icon [icon]="menuClosedIcon"></fa-icon>
  }
  @if (menuOpen()) {
    <fa-icon [icon]="menuOpenIcon"></fa-icon>
  }
</button>
<div [class.visible]="menuOpen()" class="hide-nav-bar" (click)="hide()"></div>
<div id="admin-navigation" [class.visible]="menuOpen()" class="wrapper">
  <h1>
    <div>CuteTix</div>
    <div>Admin</div>
  </h1>
  <nav>
    @for (item of availableItems(); track item) {
      <app-nav-bar-item [item]="item" [selected]="isEventContextMenuOpen(item)" (click)="hide()">
        @for (subItem of item.subItems; track subItem) {
          <app-nav-bar-subitem [name]="subItem.name" [link]="subItem.link">
          </app-nav-bar-subitem>
        }
        @if (currentEvent(); as event) {
          @if (isEventSection(item)) {
            @if (canEditEvent(event.id) | async) {
              <app-nav-bar-subitem [name]="'Edit'" [link]="eventBase + '/edit/' + event.id" [exact]="false" [activeOverride]="isEventDetailsActive(event.id)"></app-nav-bar-subitem>
            } @else {
            <app-nav-bar-subitem [name]="'Details'" [link]="eventBase + '/detail/' + event.id" [activeOverride]="isEventDetailsActive(event.id)"></app-nav-bar-subitem>
            }
            @if (canSeeTickets(event.id) | async) {
              <app-nav-bar-subitem [name]="'Tickets'" [link]="eventBase + '/' + event.id + '/tickets'" [exact]="false"></app-nav-bar-subitem>
            }
            @if (canSeeTicketGroups(event.id) | async) {
              <app-nav-bar-subitem [name]="'Ticket groups'" [link]="eventBase + '/' + event.id + '/ticket-groups'" [exact]="false"></app-nav-bar-subitem>
            }
          }
        }
      </app-nav-bar-item>
    }
  </nav>
</div>
