<h1 class="title">CuteTix admin interface</h1>

@if (!canRun()) {
<div class="error">
  <p>
    {{ errorText }}
  </p>
</div>
}

@if (canRun() && !showConfig()) {
@switch (mode()) {
@case ('login') {
<div class="window">
  <h2 class="ignore-mobile">Login</h2>
  <p>You must be logged in to enter the system.</p>
  <form (submit)="login($event)">
    <input type="text" [formField]="loginForm.username" placeholder="Username">
    <input type="password" [formField]="loginForm.password" placeholder="Password"
      [ngClass]="{'sudo-mode': storageService.getBoolean(keys.SUDO_PASSWORD_MODE)}">
    <button class="alt" [disabled]="loginForm().invalid()">
      <span>Log in</span>
    </button>
  </form>
</div>
}
@case ('register') {
<div class="window">
  <h2 class="ignore-mobile">Register</h2>
  <p>All fields are required.</p>

  <form (submit)="register($event)">
    <input type="text" [formField]="registerForm.full_name" placeholder="Full name" />
    <input type="text" [formField]="registerForm.username" placeholder="Username" />
    <input type="email" [formField]="registerForm.email" placeholder="E-mail" />
    <input type="password" [formField]="registerForm.plaintext_password" placeholder="Password"
      [ngClass]="{'sudo-mode': storageService.getBoolean(keys.SUDO_PASSWORD_MODE)}" />
    <button class="alt" [disabled]="registerForm().invalid()">
      Register
    </button>
  </form>
</div>
}
}
}

@if (showConfig()) {
<div class="window">
  <h2 class="ignore-mobile">Config</h2>
  <app-local-storage-field [key]="keys.API_URL" label="API URL" type="url" />
  <app-local-storage-field [key]="keys.BROWSER_CORE_CHECK" label="BROWSER_CORE_CHECK" type="checkbox" />
  <app-local-storage-field [key]="keys.SUDO_PASSWORD_MODE" label="SUDO_PASSWORD_MODE" type="checkbox" />
</div>
}

<div class="buttons">
  <button (click)="toggleMode()">
    <fa-icon [icon]="registerIcon"></fa-icon>
  </button>
  <button (click)="toggleConfigVisibility()">
    <fa-icon [icon]="settingsIcon"></fa-icon>
  </button>
</div>

<app-copyright></app-copyright>