@if (this.loadingState > 0) {
<app-loading></app-loading>
}
<div>
  @if (this.errorLoading.enabled) {
  <div class="error">
    <p>
      There's problem loading table.<br />
      {{ this.errorLoading.text }}
    </p>
  </div>
  }
  @if (!this.errorLoading.enabled) {
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style="display: none;">ID</th>
        <th>Ticket sales start</th>
        <th>Ticket sales end</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (event of events; track event) {
      <tr>
        <td>{{ event.name }}</td>
        <!-- so hidden column with IDs is second -->
        <td style="display: none;">{{ event.id }}</td>
        <td>{{ event.tickets_sales_start | date : "medium" }}</td>
        <td>{{ event.tickets_sales_end | date : "medium" }}</td>
        <td>
          <button class="favorite" (click)="favorite(event.id!)">
            <fa-icon [icon]="favoriteIcon(event.id!)"></fa-icon>
          </button>
          <button class="edit" (click)="edit(event)">
            <fa-icon [icon]="editIcon"></fa-icon>
          </button>
          <button class="delete" (click)="delete(event)" [disabled]="true">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>