@use "sass:color";

/**
 * Global color styles
 */

/* default, dark mode styles set with variables */
:root {
  // Foreground global colors
  --color-foreground: #fff;
  --color-foreground-medium: #3c3c3c;
  --color-foreground-dark: #000;

  // Background global colors
  --color-background: #000;
  --color-background-medium: #bebebe;
  --color-background-medium-dark: #5e5e5e;
  --color-background-light: #dcdcdc;
  --success-color: #27ae60;
  --success-color-dark: #1e824c;
  --warning-color: goldenrod;
  --danger-color: #e74c3c;
  --danger-color-dark: #c0392b;
  --accent-color: #49dd5d;
  --accent-color-light: color.adjust(
    $accentColor,
    $lightness: 20%,
    $saturation: 40%
  );
  --accent-color-dark: color.adjust($accentColor, $lightness: -30%);
}

/* default, light mode styles set with variables */
body.light {
  // Foreground global colors
  --color-foreground: #000;
  --color-foreground-medium: #3c3c3c;
  --color-foreground-dark: #fff;

  // Background global colors
  --color-background: #dcdcdc;
  --color-background-medium: #bebebe;
  --color-background-medium-dark: #a8a8a8;
  --color-background-light: #000;
}

// Foreground color
$foreColor: var(--color-foreground);
$foreColorMedium: var(--color-foreground-medium);
$foreColorMediumLight: color.adjust(
  var(--color-foreground-medium),
  $lightness: 20%
);
$foreColorDark: var(--color-foreground-dark);

// Background color
$backColor: var(--color-background);
$backColorLight: var(--color-background-light);
$backColorMedium: var(--color-background-medium);
$backColorMediumDark: var(--color-background-medium-dark);
$backColorMediumDarkTran: rgba(#a8a8a8, 50%);

// Danger action color
$dangerColor: var(--danger-color);
$dangerColorDark: var(--danger-color-dark);

// Success action color
$successColor: var(--success-color);
$successColorDark: var(--success-color-dark);

// Warning action color
$warningColor: var(--warning-color);
$warningColorLight: color.adjust(
  $warningColor,
  $lightness: 20%,
  $saturation: 40%
);
$warningColorDark: color.adjust($warningColor, $lightness: -30%);

// Accent color
$accentColor: var(--accent-color);
$accentColorLight: color.adjust(
  $accentColor,
  $lightness: 20%,
  $saturation: 40%
);
$accentColorDark: color.adjust($accentColor, $lightness: -30%);
