@use "sass:color";

/**
 * Global color styles
 */

/* default, dark mode styles set with variables */
:root {
  // Foreground global colors
  --color-foreground: #fff;
  --color-foreground-medium: #3c3c3c;
  --color-foreground-dark: #000;

  // Background global colors
  --color-background: #000;
  --color-background-medium: #bebebe;
  --color-background-medium-dark: #5e5e5e;
  --color-background-light: #dcdcdc;

  // Semantic colors
  --color-success: #27ae60;
  --color-success-dark: #1e824c;
  --color-warning: goldenrod;
  --color-warning-light: #ffcd4d;
  --color-warning-dark: #665200;
  --color-danger: #e74c3c;
  --color-danger-dark: #c0392b;
  --color-accent: #49dd5d;
  --color-accent-light: #7ef08e;
  --color-accent-dark: #36aa46;
}

/* light mode override */
body.light {
  --color-foreground: #000;
  --color-foreground-medium: #3c3c3c;
  --color-foreground-dark: #fff;

  --color-background: #dcdcdc;
  --color-background-medium: #bebebe;
  --color-background-medium-dark: #a8a8a8;
  --color-background-light: #000;
}

/* SCSS variables */

// Foreground
$foreColor: var(--color-foreground);
$foreColorMedium: var(--color-foreground-medium);
$foreColorMediumLight: var(--color-foreground-medium);
$foreColorDark: var(--color-foreground-dark);

// Background
$backColor: var(--color-background);
$backColorLight: var(--color-background-light);
$backColorMedium: var(--color-background-medium);
$backColorMediumDark: var(--color-background-medium-dark);
$backColorMediumDarkTran: rgb(168 168 168 / 50%);

// Danger
$dangerColor: var(--color-danger);
$dangerColorDark: var(--color-danger-dark);

// Success
$successColor: var(--color-success);
$successColorDark: var(--color-success-dark);

// Warning
$warningColor: var(--color-warning);
$warningColorLight: var(--color-warning-light);
$warningColorDark: var(--color-warning-dark);

// Accent
$accentColor: var(--color-accent);
$accentColorLight: var(--color-accent-light);
$accentColorDark: var(--color-accent-dark);
