@if (!this.isCreateMode && user.isLoading()) {
<app-loading></app-loading>
}
@if (!this.isCreateMode && user.error()) {
<div class="error">
  <p>
    There was a problem loading user.<br />
    {{ loadErrorText() }}
  </p>
</div>
}
@if (!this.isCreateMode || (!user.isLoading() && !user.error())) {
<form [formGroup]="form" (submit)="saveUser()">
  <h1>{{ this.isCreateMode ? 'New user' : this.isDetailMode ? 'User detail' : 'User edit' }}</h1>

  <label for="username">Username</label>
  <input type="text" name="username" formControlName="username" [readonly]="!isCreateMode" required>

  <label for="email">E-mail</label>
  <input type="email" name="email" formControlName="email" required>

  <label for="fullName">Full name</label>
  <input type="text" name="fullName" formControlName="fullName" required>

  <div class="checkbox">
    <input id="disabled" type="checkbox" name="disabled" formControlName="disabled">
    <label for="disabled">Disabled</label>
  </div>

  <label for="scopes">Scopes</label>
  <input type="text" name="scopes" formControlName="scopes" placeholder="admin, events:write, tickets:read">
  <p class="hint">Separate scopes by comma.</p>

  <label for="plaintextPassword">{{ isCreateMode ? 'Password' : 'New password' }}</label>
  <input type="password" name="plaintextPassword" formControlName="plaintextPassword" autocomplete="new-password" [required]="isCreateMode">
  <p class="hint">
    {{ isCreateMode ? 'Password is required for new user.' : 'Leave empty to keep current password.' }}
  </p>
  <button class="alt" [disabled]="form.invalid || !this.isDetailMode && form.pristine">
    {{ isCreateMode ? 'Create' : 'Save' }}
  </button>
</form>
}
