@use "../../common/styles";

.toolbar {
  margin-bottom: 0.75rem;
}

.filters {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;

  div {
    &:before {
      content: attr(label);
      font-size: 14px;
      display: block;
      font-weight: 400;
    }
  }

  input[type="search"] {
    min-width: 22rem;
    padding: 0.4rem 0.6rem;
  }

  select {
    padding: 0.4rem 0.6rem;
  }

  button {
    min-width: 0px;
    padding: 0.4rem 0.6rem;
    align-self: flex-end;
  }

  .count {
    margin-left: 0.5rem;
    opacity: 0.8;
    font-size: 0.9rem;
  }
}
