@if (ticketGroups.isLoading()) {
<app-loading></app-loading>
}
<div>
  @if (ticketGroups.error()) {
  <div class="error">
    <p>
      There's problem loading table.<br />
      {{ loadErrorText() }}
    </p>
  </div>
  }
  @if (!ticketGroups.error()) {
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="d-none">ID</th>
        <th>Capacity</th>
        <th>Event</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (ticket_group of ticketGroups.value(); track ticket_group) {
      <tr>
        <td>{{ ticket_group.name }}</td>
        <!-- so hidden column with IDs is second -->
        <td class="d-none">{{ ticket_group.id }}</td>
        <td>{{ ticket_group.capacity }}</td>
        <td>
          @if (ticket_group.event != null) {
          <a [routerLink]="'/events/detail/' + ticket_group.event.id">
            {{ ticket_group.event.name}}
          </a>
          }
          @if (ticket_group.event == null) {
          <span>
            No event
          </span>
          }
        </td>
        <td class="actions">
          <button class="edit" (click)="edit(ticket_group)">
            <fa-icon [icon]="editIcon"></fa-icon>
          </button>
          <button class="delete" (click)="delete(ticket_group)">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
