<div class="user">
    <p class="name">{{username}}</p>
    <div class="picture">
        <i class="fas fa-user fa-icon"></i>
    </div>
</div>

<div class="details">
    <app-user-info></app-user-info>
    <div class="button-container">
        <button (click)="toggleTheme()">Switch theme</button>
        <button (click)="logout()">
            <i class="fas fa-sign-out-alt fa-icon"></i>
            Log out
        </button>
        <button (click)="openProfile()">
            My profile
        </button>
    </div>
</div>