<div class="user">
    <p class="name">{{username}}</p>
    <div class="picture">
        <fa-icon [icon]="userIcon"></fa-icon>
    </div>
</div>

<div class="details">
    <app-user-info [show_favorite_events]="false"></app-user-info>
    <div class="button-container">
        <button (click)="toggleTheme()">
            <fa-icon [icon]="switchThemeIcon"></fa-icon>
            Switch theme
        </button>
        <button (click)="logout()">
            <fa-icon [icon]="logoutIcon"></fa-icon>
            Log out
        </button>
        <button (click)="openProfile()">
            <fa-icon [icon]="myProfileIcon"></fa-icon>
            My profile
        </button>
    </div>
</div>