@use "ngx-toastr/toastr";

/**
 * Global styles
 */

@use "./styles/colors" as *;
@use "styles/fonts" as *;
@use "styles/typography";
@use "styles/button";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &:focus {
        outline: none;
    }
}

body {
    user-select: none;
    background: $backColor;
    color: $foreColor;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

// class for light mode defined in colors file

body.alt-font {
    font-family: "Open Sans";
}

// @import "styles/filters";
// @import "styles/table";
// @import "styles/form";

.search {
    display: inline-flex;

    section {
        margin-left: 10px;
    }

    select {
        width: 350px;
    }
}

.d-none {
    display: none !important;
}

@media screen and (max-width: 575.98px) {
    .d-sm-none {
        display: none !important;
    }
}

@media screen and (max-width: 767.98px) {
    .d-md-none {
        display: none !important;
    }
}

@media screen and (max-width: 991.98px) {
    .d-lg-none {
        display: none !important;
    }
}

@media screen and (max-width: 1199.98px) {
    .d-xl-none {
        display: none !important;
    }
}

@media screen and (max-width: 1399.98px) {
    .d-xxl-none {
        display: none !important;
    }
}