@if (mode() !== 'new' && ticketGroup.isLoading()) {
  <app-loading></app-loading>
}
@if (mode() !== 'new' && ticketGroup.error()) {
  <div class="error"><p>There's problem loading ticket group.<br />{{ ticketGroupLoadErrorText() }}</p></div>
}
@if (mode() === 'new' || (!ticketGroup.isLoading() && !ticketGroup.error())) {
<form (submit)="saveTicketGroup($event)">
  <h1>{{ mode() === 'new' ? 'New ticket group' : mode() === 'detail' ? 'Ticket group detail' : 'Edit ticket group' }}</h1>

  <label for="name">Name</label>
  <input type="text" [formField]="ticketGroupForm.name">

  <label for="capacity">Capacity</label>
  <input type="number" [formField]="ticketGroupForm.capacity">

  <label for="eventId">Event</label>
  @if (eventsResource.isLoading()) {
    <p>Loading events...</p>
  }
  @if (eventsResource.error()) {
    <p>{{ $any(eventsResource.error()).message || eventsResource.error() }}</p>
  }
  <select [formField]="ticketGroupForm.eventId">
    @for (event of events(); track event) {
      @if (mode() === 'detail' || (canEditEvent(event.id) | async) === true) {
        <option [value]="event.id">{{ event.name }}</option>
      }
    }
  </select>

  @if (mode() !== 'detail') {
    @let canEdit = canEditEvent(model().eventId) | async;
    <button class="alt" [disabled]="ticketGroupForm().invalid() || ticketGroupForm().submitting() || canEdit !== true">
      {{ mode() === 'new' ? 'Create' : 'Edit' }}
    </button>
  }
</form>
}
