<div class="info" label="Username">{{ authService.getUsername() }}</div>
<div class="info" label="Scopes">{{ authService.getScopes() }}</div>
<div class="info" label="Access token expires on">{{ access_token_expire() }} ‒ {{ time_to_access_token_expire }}</div>
<div class="info" label="Refresh token expires on">{{ refresh_token_expire() }} ‒ {{ time_to_refresh_token_expire }}</div>

@if (usersService.user.isLoading()) {
<span>Loading user data...</span>
} @else {
<!-- User is loaded -->
@let user = usersService.user.value()!;

@if (show_user_dependended_info()) {
<hr />
@if (show_favorite_events()) {

<div class="info" label="Favorite Events">
  @if (user.favorite_events && user.favorite_events.length > 0) {
  <ul>
    @for (event of user!.favorite_events; track event.id) {
    <li>{{ event.name }}</li>
    }
  </ul>

  } @else {
  <span>No favorite events.</span>
  }
</div>
}
}
}